<!DOCTYPE html>
<html>
<head>
  <title>Hello Bubble Chart</title>
  <meta charset="utf-8">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  {% load static %}
  <script src="{% static 'javascript/jquery.min.js'%}"></script>
  <script src="{% static 'javascript/d3.min.js'%}"></script>
  <script src="{% static 'javascript/d3-transform.js'%}"></script>
  <script src="{% static 'javascript/extarray.js'%}"></script>
  <script src="{% static 'javascript/misc.js'%}"></script>
  <script src="{% static 'javascript/micro-observer.js'%}"></script>
  <script src="{% static 'javascript/microplugin.js'%}"></script>
  <script src="{% static 'javascript/bubble-chart.js'%}"></script>
  <script src="{% static 'javascript/central-click.js'%}"></script>
  <script src="{% static 'javascript/lines.js'%}"></script>
  <style>
    .bubbleChart {
      min-width: 100px;
      max-width: 700px;
      height: 700px;
      margin: 0 auto;
    }
    .bubbleChart svg{
      background: #000000;
    }
  </style>
</head>
<body style="background: #000fff">
  {{ visual_list}}
<div class="bubbleChart"/>
</body>
<script type = "text/javascript">
  var myDjangoList = {{visual_list| safe}}
  $(document).ready(function () {
    items = []
   {% for node in nodes %}

       var i =0;
       a =[]
      {% for value in node %}
       a[i++] = '{{value}}'
       {% endfor %}
       items.push({text:a[0] , count: a[1]})
   {% endfor %}

   var bubbleChart = new d3.svg.BubbleChart({
    supportResponsive: true,
    //container: => use @default
    size: 600,
    //viewBoxSize: => use @default
    innerRadius: 600 / 3.5,
    //outerRadius: => use @default
    radiusMin: 50,
    //radiusMax: use @default
    //intersectDelta: use @default
    //intersectInc: use @default
    //circleColor: use @default
    data: {
      items,
      eval: function (item) {return item.count;},
      classed: function (item) {return item.text.split(" ").join("");}
    },
    plugins: [
      {
        name: "central-click",
        options: {
          text: "(See more detail)",
          style: {
            "font-size": "12px",
            "font-style": "italic",
            "font-family": "Source Sans Pro, sans-serif",
            //"font-weight": "700",
            "text-anchor": "middle",
            "fill": "white"
          },
          attr: {dy: "65px"},
          centralClick: function() {
            alert("Here is more details!!");
          }
        }
      },
      {
        name: "lines",
        options: {
          format: [
            {// Line #0
              textField: "count",
              classed: {count: true},
              style: {
                "font-size": "28px",
                "font-family": "Source Sans Pro, sans-serif",
                "text-anchor": "middle",
                fill: "white"
              },
              attr: {
                dy: "0px",
                x: function (d) {return d.cx;},
                y: function (d) {return d.cy;}
              }
            },
            {// Line #1
              textField: "text",
              classed: {text: true},
              style: {
                "font-size": "14px",
                "font-family": "Source Sans Pro, sans-serif",
                "text-anchor": "middle",
                fill: "white"
              },
              attr: {
                dy: "20px",
                x: function (d) {return d.cx;},
                y: function (d) {return d.cy;}
              }
            }
          ],
          centralFormat: [
            {// Line #0
              style: {"font-size": "50px"},
              attr: {}
            },
            {// Line #1
              style: {"font-size": "30px"},
              attr: {dy: "40px"}
            }
          ]
        }
      }]
  });
});
  </script>
</html>