<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<title>Launch Analytics</title>
	<meta charset="utf-8">
	<style>
		header {
		    background-color:#115EA2;
		    min-height:150px;
		    width:100%;
		    position:relative;
		    }		
		h1 {
		  font-size: 50px;
		  color : #ffffff;
		  top :60%;
		  left:40%;
		  position:absolute;
		  float:left;
		  opacity: 1;
		   } 

		.logo {
		      display: inline-block;
		      position:absolute;
		      top:15%;
		      left:3%;
		      float:left;
		      color: white;
		     }
		.boxed {
		        border: 5px solid black ;
		        width:500px;
		        background-color:white;
		        }
		div#loading {
				position: fixed;
				margin-right: 1%;
				width: 70%;
				height: 100%;
				z-index: 9999;
			    background: url({% static "media/hourglass.svg" %})50% 50% no-repeat rgb(249,249,249);;
			    cursor: wait;
			    display: none;
			}
		.hide {
 			 display: none;
			}

	</style>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript">
		// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]>
	</script>
	<script type="text/javascript">
		$(document).on('change', '.div-toggle', function() {
		  var target = $(this).data('target');
		  var show = $("option:selected", this).data('show');
		  $(target).children().addClass('hide');
		  $(show).removeClass('hide');
		});
		$(document).ready(function(){
			$('.div-toggle').trigger('change');
		});       
	</script>
</head>

<body style="font-family: 'Saira Semi Condensed', sans-serif;">
<header>
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">
					<!--img src= "{% static "media/zslogo.jpg" %}" width = "150" height = "130" class="logo" alt=""-->
					<h1 style="color: white; opacity: .5; font-size: 40px;"><strong>Launch Analytics</strong></h1>
				</a>
			</div>
		</div>
	</nav>	
</header>	


<!-- Working Area-->
<div class="row">
	<!-- Setting Area-->
	<div class="col-sm-3">
	<div class = "container well well-sm" style=" width: 90%; padding: 14%; margin: auto; margin-right: 0%; ">
		<legend class="text-center"><h3>Model Universe</h3></legend>
		<form class="col-sm-12" action="" method="get">
				<div class="form-group row">
					<label for="file" class="col-2 col-form-label">Choose File</label>
					<div class="col-10">
					<select name = "file" id = "file" class="selectpicker form-control" data-live-search="true" title = " " onchange="this.form.submit()">
						{% for fl in files %}
							<option value="{{fl}}" {% if fl in choosen_file %} selected = "selected" {% endif %}>{{fl}}</option>
						{% endfor %}
					</select>
					</div>
				</div>
		</form>
		<form class="col-sm-12" action = "" method = "get">
			<fieldset>
				<div class="form-group row">
					<label for="seg" class="col-2 col-form-label">Segmentation Variables</label>
					<div class="col-10">
					<select name = "seg" id = "seg" class="selectpicker form-control"  multiple data-live-search="true" title = " ">
						{% for var in variables %}
							<option value="{{var}}" {% if var in seg %} selected = "selected" {% endif %}>{{var}}</option>
						{% endfor %}
					</select>
					</div>
				</div>
				<div class="form-group row">	
					<label for="reg" class="col-2 col-form-label">Regression Variables</label>
					<div class="col-10">
					<select name = "reg" id = "reg" class="selectpicker form-control" multiple data-live-search="true" title = " ">
						{% for var in variables %}
							<option value="{{var}}" {% if var in reg %} selected = "selected" {% endif %}>{{var}}</option>
						{% endfor %}
					</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="target" class="col-2 col-form-label">Target Variable</label>
					<div class="col-10">
					<select name = "target" id = "target" class="selectpicker form-control" data-live-search="true" title = " " placeholder="Target Varible">
						{% for var in variables %}
							<option value="{{var}}" {% if var in target %} selected = "selected" {% endif %}>{{var}}</option>
						{% endfor %}
					</select>
					</div>
				</div>
				
				<!-- Transferred to Model Explration -->
				<!--div>
				<div class="form-group row">
					<label for="depth" class="col-2 col-form-label">Depth</label>
					<div class="col-10" >
					<input class="form-control" name = "depth" id = "depth" type="number" step="any" value = "{{depth}}"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="min_size" class="col-2 col-form-label">Min Size</label>
					<div class="col-10"  >
					<input class="form-control" name = "min_size" id = "min_size" type="number" step="any" value = "{{min_size}}"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="trn_split" class="col-2 col-form-label">Train Split</label>
					<div class="col-10" >
					<input class="form-control" name = "trn_split" id = "trn_split" type="number" step="any", value = "{{trn_split}}"/>
					</div>	
				</div>
				<div class="form-group row">
					<label for="ver_string" class="col-2 col-form-label">Version</label>
					<div class="col-10" style="width: 75%;">
					<input class="form-control" name = "ver_string" id = "ver_string" type="text" value = 'default'/>
					</div>
				</div>
				</div-->
				<div class="form-group row text-right">
					<input class="btn btn-primary btn-lg" type = "Submit" value = "Update" onclick="loading();" />
				</div>
			</fieldset>
		</form>
	</div>
	</div>

	<!-- Output Area -->
	<div class="col-sm-9">
	<div id ="loading" class = "container well well-sm"> </div>
	<div id="content" class = "container well well-sm" style=" width: 95%; padding: 2%; margin: auto; margin-left: 0% ">
		<ul class="nav nav-tabs">
			<li class="{% if active_tab == 'data_upload' %}active{% endif %}"><a data-toggle="tab" href="#datup">Data Upload</a></li>

			<li class="{% if active_tab == 'dq_check' %}active{% endif %}"><a data-toggle="tab" href="#dqchk">DQ Checks</a></li>

			<li><a data-toggle="tab" href="#viz">Data Discovery</a></li>

			<li class="{% if active_tab == 'summary' %}active{% endif %}"><a data-toggle="tab" href="#mob">Model Exploration</a></li>

			<li class="{% if active_tab == 'exp_vs_eff' %}active{% endif %}" ><a data-toggle="tab" href="#conc">Model Effectiveness</a></li>

			<li><a data-toggle="tab" href="#">Model Validation</a></li>
		</ul>
		<div class="tab-content">


			<!-- Data  Upload -->
			<div id="datup" class="tab-pane fade  {% if active_tab == 'data_upload' %}in active{% endif %}">
			<br>
			<br>
				{% block content %}
				  <form method="post" enctype="multipart/form-data">
				    {% csrf_token %}
				    <input type="file" name="myfile">
				    <button type="submit">Upload</button>
				  </form>

				  {% if uploaded_file_url %}
				    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
				  {% endif %}

				{% endblock %}
			</div>




			<!-- DQ Check -->
			<div id="dqchk" class="tab-pane fade  {% if active_tab == 'dq_check' %}in active{% endif %}">
				<br>
				<br>
				<div class="col-sm-12">
				<legend class="text-center"><h3>Discrete Variables</h3></legend>
				{% for var in dq_check.0 %}
					<div class="col-sm-3">
						<legend class="text-center"><h4>{{var.0}}</h4></legend>
						{% autoescape off %}{{var.1}}{% endautoescape %}
					</div>
				{% endfor %}
				</div>
				<br>
				<br>
				<br>
				<div class="col-sm-12">
				<legend class="text-center"><h3>Continuous Variables</h3></legend>
				{% for var in dq_check.1 %}
					<div class="col-sm-3">
						<legend class="text-center"><h4>{{var.0}}</h4></legend>
						{% autoescape off %}{{var.1}}{% endautoescape %}
					</div>
				{% endfor %}
				</div>	
			</div>

			<!-- Model Summary -->
			<div id="mob" class="tab-pane fade {% if active_tab == 'summary' %}in active{% endif %}">
				<br>
				<br>
				<!-- Hyperparamter Setting -->
				<legend class="text-center"><h3>Model Setting</h3></legend>
				<form class="col-sm-12" action = "" method = "get">
					<div class="form-group col-sm-4">
						<label for="depth" class="col-2 col-form-label">Depth</label>
						<div class="col-10" >
						<input class="form-control" name = "depth" id = "depth" type="number" step="any" value = "{{depth}}"/>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label for="min_size" class="col-2 col-form-label">Min Size</label>
						<div class="col-10"  >
						<input class="form-control" name = "min_size" id = "min_size" type="number" step="any" value = "{{min_size}}"/>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label for="trn_split" class="col-2 col-form-label">Train Split</label>
						<div class="col-10" >
						<input class="form-control" name = "trn_split" id = "trn_split" type="number" step="any", value = "{{trn_split}}"/>
						</div>	
					</div>
					<br>
					<div class="form-group col-sm-12 text-left">
						<input class="btn btn-primary btn-md" type = "Submit" value = "Run" onclick="loading();" />
					</div>
				</form>	

				<legend class="text-center"><h3>MOB Tree</h3></legend>	
				<img src= "{% static "media/box_tree.jpg" %}" style="max-width: 100%; max-height: auto;">
				<br>
				<br>
				<legend class="text-center"><h3>Impact Table</h3></legend>
				{% autoescape off %}{{overall_impact}}{% endautoescape %}
				<br>
				<br>
				<legend class="text-center"><h3>Commentary</h3></legend>
			</div>


			<!-- Data Discovery -->
			<div id="viz" class="tab-pane fade {% if active_tab == 'line_plot' or active_tab == 'bar_plot' %}in active{% endif %}">
			<br>
				<div class="col-sm-3">
					<ul class="nav nav-pills">
						<li class="{% if active_tab == 'line_plot' %}active{% endif %}"><a href="#line" data-toggle="tab">Line Plot</a></li>
						<li class="{% if active_tab == 'bar_plot' %}active{% endif %}"><a href="#bar" data-toggle="tab">Bar Plot</a></li>
						<li><a href="#corr" data-toggle="tab">Correlation</a></li>
					</ul>
				</div>
				<div class="tab-content">


					<!-- Correlation plot -->
					<div id="corr" class="col-sm-12 tab-pane fade" >
						<img src= "{% static "media/correlation.png" %}" style="max-width: 100%; max-height: auto;">
					</div>


					<!-- Line Plot -->
					<div id="line" class="col-sm-12 tab-pane fade {% if active_tab == 'line_plot' %}in active{% endif %}">
						<legend class="text-center"><h3>Line Plot</h3></legend>
						<br>
						<br>
						<form action = "" method = "get">
						<div class="col-sm-3" style="border: solid #d9dbdd; border-width: 1px; padding: 2%;">
							<div class="container" style="margin: auto; width: 90%;">
								<div class="form-group row">
									<label for="line_X" class="col-2 col-form-label">X Variable</label>
									<div class="col-10">
									<select name="line_X" id="line_X" class="selectpicker form-control" data-live-search="true">
										{% for var in reg %}
											<option value="{{var}}" {% if var == line_X.0 %} selected = "selected" {% endif %}>{{var}}</option>
										{% endfor %}
									</select>	
									</div>
								</div>

								<div class="form-group row">
									<label for="line_Y" class="col-2 col-form-label">Y Variable</label>
									<div class="col-10">
									<select name="line_Y" id="line_Y" class="selectpicker form-control" data-live-search="true">
										{% for var in target %}
											<option value="{{var}}" {% if var == line_Y.0 %} selected = "selected" {% endif %}>{{var}}</option>
										{% endfor %}
									</select>	
									</div>
								</div>

								<div class="form-group row">
									<label for="line_pivot" class="col-2 col-form-label">Pivot</label>
									<div class="col-10">
									<select name="line_pivot" id="line_pivot" class="selectpicker form-control" data-live-search="true">
										{% for var in seg %}
											<option value="{{var}}" {% if var == line_pivot.0 %} selected = "selected" {% endif %}>{{var}}</option>
										{% endfor %}
									</select>	
									</div>
								</div>

								
								<div class="form-group row text-right">
									<input class="btn btn-primary" type = "Submit" value = "Run"/>
								</div>
							</div>
						</div>
						</form>
						<div class="col-sm-9">
							<div class="container" style="margin: auto; width: 90%">
								{% autoescape off %}{{line_plot}}{% endautoescape %}
							</div>
						</div>
					</div>



					<!-- Bar Plot-->
					<div id="bar" class="col-sm-12 tab-pane fade {% if active_tab == 'bar_plot' %}in active{% endif %}">
						<legend class="text-center"><h3>Bar Plot</h3></legend>
						<br>
						<br>
						<form action = "" method = "get">
						<div class="col-sm-3" style="border: solid #d9dbdd; border-width: 1px; padding: 2%;">
							<div class="container" style="margin: auto; width: 90%;">
								<div class="form-group row">
									<label for="bar_X" class="col-2 col-form-label">X Variable</label>
									<div class="col-10">
									<select name="bar_X" id="bar_X" class="selectpicker form-control" data-live-search="true">
										{% for var in variables %}
											<option value="{{var}}" {% if var == bar_X.0 %} selected = "selected" {% endif %}>{{var}}</option>
										{% endfor %}
									</select>	
									</div>
								</div>

								<div class="form-group row">
									<label for="bar_Y" class="col-2 col-form-label">Y Variable</label>
									<div class="col-10">
									<select name="bar_Y" id="bar_Y" class="selectpicker form-control" data-live-search="true">
										{% for var in target %}
											<option value="{{var}}" {% if var == bar_Y.0 %} selected = "selected" {% endif %}>{{var}}</option>
										{% endfor %}
									</select>	
									</div>
								</div>

								
								<div class="form-group row text-right">
									<input class="btn btn-primary" type = "Submit" value = "Run"/>
								</div>
							</div>
						</div>
						</form>
						<div class="col-sm-9">
							<div class="container" style="margin: auto; width: 90%">
								{% autoescape off %}{{bar_plot}}{% endautoescape %}
							</div>
						</div>
					</div>
				</div>	
			</div>





			<!-- Model Effectiveness -->
			<div id="conc" class="tab-pane fade {% if active_tab == 'exp_vs_eff' %}in active{% endif %}">
				<br>
				<br>
				<legend class="text-center"><h3>Exposure  VS Effectiveness</h3></legend>
				<form action = "" method = "get">
				<div class="col-sm-3" style="border: solid #d9dbdd; border-width: 1px; padding: 2%;">
					<div class="container" style="margin: auto; width: 90%;">
						<div class="form-group row">
							<label for="graph_variable" class="col-2 col-form-label">Graph Variable</label>
							<div class="col-10">
							<select name="graph_variable" id="graph_variable" class="selectpicker form-control" data-live-search="true">
								{% for var in reg %}
									<option value="{{var}}" {% if var == exp_graph_var.0 %} selected = "selected" {% endif %}>{{var}}</option>
								{% endfor %}
							</select>	
							</div>
						</div>

						<div class="form-group row">
							<label for="pivot_variable" class="col-2 col-form-label">Pivot Variable</label>
							<div class="col-10">
							<select name="pivot_variable" id="pivot_variable" class="selectpicker form-control" data-live-search="true">
								<option value="nodes">nodes</option>
							</select>	
							</div>
						</div>

						<div class="form-group row">
							<label for="color_variable" class="col-2 col-form-label">Color Variable</label>
							<div class="col-10">
							<select name="color_variable" id="color_variable" class="selectpicker form-control" data-live-search="true">
								{% for var in reg %}
									<option value="{{var}}" {% if var == exp_color_var.0 %} selected = "selected" {% endif %}>{{var}}</option>
								{% endfor %}
							</select>	
							</div>
						</div>

						<div class="form-group row">
							<label for="size_variable" class="col-2 col-form-label">Size Variable</label>
							<div class="col-10">
							<select name="size_variable" id="size_variable" class="selectpicker form-control" data-live-search="true">
									<option value="size" >{{target.0}}</option>
							</select>	
							</div>
						</div>
						<div class="form-group row text-right">
							<input class="btn btn-primary" type = "Submit" value = "Run"/>
						</div>
					</div>
				</div>
				</form>
				<div class="col-sm-9">
					<div class="container" style="margin: auto; width: 90%">
						{% autoescape off %}{{exp_plot}}{% endautoescape %}
					</div>
				</div>
			</div>




		</div>
	</div>	
</div>
</body>
</html>
